<div class="currency-converter-wrapper">
  <form [formGroup]="currencyForm" class="currency-converter-wrapper-form">
     <mat-form-field appearance="outline">
       <mat-label>Select Currency</mat-label>
       <mat-select formControlName="currencyOne">
         <mat-option *ngFor="let currency of currencies" [value]="currency">
           {{ currency }}
         </mat-option>
       </mat-select>
     </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Select Currency</mat-label>
        <mat-select formControlName="currencyTwo">
          <mat-option *ngFor="let currency of currencies" [value]="currency">
            {{ currency }}
          </mat-option>
        </mat-select>
      </mat-form-field>
     <mat-form-field appearance="outline">
       <mat-label>Amount</mat-label>
       <input matInput type="number"  formControlName="currencyAmountOne">
       <mat-error>Amount must be more than 0</mat-error>
     </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="number" formControlName="currencyAmountTwo">
        <mat-error>Amount must be more than 0</mat-error>
      </mat-form-field>
  </form>
</div>
